body {
    background-image: url(img6.jpeg);
    background-size: cover;}
    h1{display: flex; justify-content: center;}
    h1{padding: 300px;}
    h1{font-size: xx-large; font-style: italic; color: rgb(37, 203, 224);}
body{background-image:url(resto2.jpeg);}